:root {

    /* Cores gerais */
    --corBranca: #ffffff;
    --azulMaisEscuro: hsl(226, 43%, 10%);
    --azulEscuro: hsl(235, 46%, 20%);
    --azulRocheado: hsl(235, 45%, 61%);
    --azulPalido: hsl(236, 100%, 87%);

    /* Cores elementos */
    --vermelhoClaro: hsl(15, 100%, 70%); /*work*/
    --azulFraco: hsl(195, 74%, 62%); /*play*/
    --rosado: hsl(348, 100%, 68%); /*study*/
    --verdeLimao: hsl(145, 58%, 55%); /*exercize*/
    --purple: hsl(264, 64%, 52%); /*social*/
    --laranjaFraco: hsl(43, 84%, 65%); /*seld-care*/
}

/* Configurações de estilo gerais */
html {
    background: var(--azulMaisEscuro);
    font-family: 'Rubik', sans-serif;
}

.main-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;  
}

/* Informacoes pessoais do Jeremy */
.perfil {
    display: flex;
    flex-direction: column;
    background:hsl(249, 79%, 57%);
    border-radius: 10px;
}

.perfil img {
    width: 40%;
    padding: 10% 0 20% 10%;
    /* border: 2px solid var(--corBranca); */
}

.info-pessoal p {
    font-weight: 400;
    color: var(--azulRocheado);
    padding-left: 10%
}

.info-pessoal h1 {
    font-weight: 300;
    color: var(--corBranca);
    padding: 2% 0 20% 10%;
    font-size: 2em;
}

/* Botoes */
.tempo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    background: var(--azulEscuro);
    height: 100%;
    border-radius: 10px;  
}

.agenda-bt {
    background: var(--azulEscuro);
    color: var(--azulRocheado);
    border-style: none;
    text-align: left;
}

/* Mudanca de status dos botoes */
.agenda-bt:hover {
    color: var(--corBranca);
}

.agenda-bt:focus {
    color: var(--corBranca);
}

/* Blocos/ficheiros de atividades em grid */
.container-ficheiro {
    background: var(--azulMaisEscuro);
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    padding: 15px;  
}

.ficheiro {
    display: grid;
    place-items: start end;
    border-radius: 10px;
}

/* Mudanca de status dos ficheiros */
.ficheiro:hover {
    transform: scale(1.05);
}

/* addiciona cores de cada ficheiro */
.ficheiro-work {
    background: var(--vermelhoClaro);
}

.ficheiro-play {
    background: var(--azulFraco);
}

.ficheiro-study {
    background: var(--rosado);
}

.ficheiro-exercise {
    background: var(--verdeLimao);
}

.ficheiro-social {
    background: var(--purple);
}

.ficheiro-self-care {
    background: var(--laranjaFraco);
}

/* configura imagens */
.icon-imagem {
    width: 15%;
}

.pontos-img {
    padding-left: 45%;
}

.caixa-geral {
    display: flex;
    width: 100%;
    background: var(--azulEscuro);
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
}

/* Fontes/textos dos ficheiros */
.caixa-geral h2 {
    color: var(--corBranca);
    font-weight: 500;
}

.caixa-geral h3 {
    font-weight: 300;
    font-size: 2.5em;
    padding: 10% 10% 8% 0;
}

.caixa-geral p {
    font-weight: 300;
}

.header-atividade {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

.atividade-anterior {
    display: flex;
    justify-content: space-between;
}

.atividade-anterior p {
    color: var(--azulPalido);
}

.atividade h3 {
    color: var(--corBranca);
}

.h2 {
    color: var(--corBranca);
}

/* Responsividade para mobile */
@media(max-width: 768px) {

    .main-container {
        flex-direction: column;
    }

    .container-ficheiro {
        grid-auto-flow: row;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 15px;
        padding: 20px 0 20px 0;
        margin: 0 auto;
    }

    .info-pessoal h1 {
        font-size: 1.8em;
    }

    .tempo {
        padding: 10%;
    }

    .agenda-bt {
        padding: 5%;
    }
}
